@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--primary-color: #471bff;
	--secondary-color: #eef2ff;
	--light-gray: #f6f6f9;
	--white: #f9f9f9;
	--black: #36383f;
	--gray: #85888c;
}

html {
	font-size: 62.5%;
	font-family: "Assistant", sans-serif;
	font-optical-sizing: auto;
}

#root {
	max-width: 1680px;
	margin-inline: auto;
}

blockquote,
dl,
dd {
	margin: 0;
}

ul[role="list"],
ol[role="list"] {
	list-style: none;
}

html:focus-within {
	scroll-behavior: smooth;
}

body {
	min-height: 100vh;
	text-rendering: optimizeSpeed;
	line-height: 1.5;
	font-size: 1.6rem;
}

a:not([class]) {
	text-decoration-skip-ink: auto;
}

img,
picture {
	max-width: 100%;
	display: block;
}

input,
button,
textarea,
select {
	font: inherit;
}

input:focus,
textarea:focus,
select:focus {
	outline: none;
	border-color: none;
}

button:disabled {
	cursor: not-allowed;
}

*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

@media (max-width: 768px) {
	html {
		font-size: 58.25%;
	}
}
