@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--primary-color: #471bff;
	--secondary-color: #eef2ff;
	--light-gray: #f6f6f9;
	--white: #f9f9f9;
	--black: #36383f;
	--gray: #85888c;
}

html {
	font-size: 62.5%;
	font-family: "Assistant", sans-serif;
	font-optical-sizing: auto;
}

#root {
	max-width: 1680px;
	margin-inline: auto;
}

blockquote,
dl,
dd {
	margin: 0;
}

ul[role="list"],
ol[role="list"] {
	list-style: none;
}

ol,
ul {
	padding: 0 !important;
}

html:focus-within {
	scroll-behavior: smooth;
}

body {
	min-height: 100vh;
	text-rendering: optimizeSpeed;
	line-height: 1.5;
	font-size: 1.6rem !important;
}

a:not([class]) {
	text-decoration-skip-ink: auto;
}

img,
picture {
	max-width: 100%;
	display: block;
}

input,
button,
textarea,
select {
	font: inherit;
}

input:focus,
textarea:focus,
select:focus {
	outline: none;
	border-color: none;
}

button:disabled {
	cursor: not-allowed;
}

*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

@media (max-width: 768px) {
	html {
		font-size: 58.25%;
	}
}

.accordion__button {
	padding: 2.8rem 0rem !important;
	background-color: transparent !important;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 1.8rem;
	line-height: 2.2rem;
	color: #131313;
}

.product-accordion .accordion__button {
	padding: 1.6rem 0rem !important;
	font-size: 1.5rem;
}

.accordion__button:hover {
	background-color: transparent !important;
}

.accordion__button::before {
	display: none !important;
}

.accordion__item + .accordion__item {
	border-top: none !important;
}

.accordion__item {
	border-top: 1px solid #dfdfdf;
	border-bottom: 1px solid #dfdfdf;
}

.accordion__icon {
	transition: rotate 0.5s ease;
}

.product-accordion .accordion__icon.active {
	rotate: 135deg;
}

.accordion__icon.active {
	rotate: 180deg;
}

.accordion__panel {
	padding: 0 20px 20px !important;
}

.dropdown-toggle::after {
	display: none !important;
}

.navbar-toggler:focus {
	box-shadow: none !important;
}

.dropdown-toggle {
	display: flex !important;
	align-items: center;
	gap: 0.5rem;
}

@media (max-width: 768px) {
	.navbar-toggler:not(.collapsed) ~ .cart-icon {
		display: none !important;
	}
	.dropdown-menu.show {
		padding-inline: 1.5rem;
	}
}
.navbar-collapse:not(.show) .nav-shop {
	display: none !important;
}
.dropdown-item {
	font-size: 1.3rem;
	line-height: 1.7rem;
	color: #121212;
	padding: 1rem 2rem !important;
}
.dropdown-item:hover {
	--tw-bg-opacity: 1;
	background-color: rgb(229 231 235 / var(--tw-bg-opacity)) !important;
}
.dropdown-menu {
	background-color: white !important;
}

.carousel.hero::before,
.carousel.hero::after {
	--height: 140px;

	content: "";
	position: absolute;
	height: calc(var(--height) * 2);
	background-color: white;
	inset-inline: 0;
	z-index: 9999999999999999999999;
}
.carousel.hero::before {
	clip-path: ellipse(50% 10% at 50% 0%);
	top: 0;
}
.carousel.hero::after {
	bottom: 0;
	clip-path: ellipse(50% 10% at 50% 100%);
}

@media (max-width: 768px) {
	.carousel.hero::before,
	.carousel.hero::after {
		--height: 70px;
	}
}
